
/* /* skills section */ */
#recent-posts{
    background-color: #EDF7FA;
    padding: 10px 160px;
    /* margin-bottom: 20px; */
    padding-bottom: 50px;
    
}
#recent-posts-heading{
    /* padding: 10px; */
    font-family: Heebo;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;

}
#view-all-btn{
    float: right;
    position: relative;
    top: 20px;
    left: -10px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* color: #00A8CC; */
    color: #21243D;

    cursor: pointer;
}
#view-all-btn:hover{
    margin-top: -10px;
    text-decoration-line:none ;
    background-color: rgb(13, 167, 51);
    padding: 10px 10px ;
    border-radius: 10px;
    color: white;

    box-shadow: inset 0 0 0px 2px rgb(255, 254, 254);
}

#view-less-btn{
    height: fit-content;
    width: fit-content;
    align-self: center;
    
    position: relative;
    left: -10%;

    padding: 20px;
    font-size: 1.2rem;
 
    text-decoration-line:none ;
    background-color: rgb(13, 167, 51);
    border-radius: 10px;
    color: white;

    box-shadow: 0 0 0px 2px rgb(255, 254, 254);

}
#view-less-btn:hover{
    border-radius: 20px;
    padding: 20px;
    font-size: 1.3rem;
   
}


/* post container */
#posts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: #21243D;
}
.post-items{
    margin-bottom: 30px;
    padding: 20px;
    width: 40%;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(176, 217, 245, 0.973);
    border-radius:10px;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills{
    width:60px;
}
.post-heading{
    font-family: Heebo;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;

}
.post-time-and-title{
     font-family: Heebo;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

    color: gray;

}
.separator{ 
    font-size: 2rem;
    color: gray;
}
.post-about{ 
    overflow-y: auto;
    padding: 10px 0;
    text-align: justify;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}




/* ?new  */


#skills{
    width: 100%;
    background-color: #EDF7FA;
    padding: 10px;
    text-align: center;
 }

/*Skills Section*/

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

.skill-name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    height: 100%;
}


/* Common Margin Classes */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}



/* setting background-color */

.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}

.mb-yellow{
    background-color: rgb(255, 213, 0);
}


/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}


