*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* border: solid ; */
   
}
/* body style */
body{
    background:  #E5E5E5;
}

/* header section */
#header {
    width:100%;
    height:97vh;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* navbar style */
.navbar{
    width: 100%;
    height:auto;

    position: absolute;
    top: 0;
    right: 0;

    padding: 10px 0;
    background-image: linear-gradient(to right,#ddcfcf,#E5E5E5);

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-radius: 10px;
    
}
#navbar-items-list{
    list-style: none;
    width: 50%;
    height:100%;

    display: flex;
    justify-content: space-evenly;

    float: left;
}
.navbar-item{
    /* width: 100%; */
    padding:10px ;
}
.navbar-item:hover{
    transition: border .3s ease-in-out;
    border-bottom: 3px solid rgb(235, 139, 139);
    background-color: white;
    border-radius: 10px;
}
.navbar-item-link{
    color: rgb(14, 11, 11);
    color: #21243D;
    text-decoration: none;

    font-family: Heebo;
    font-size: 20px;
    font-weight: 500;
    line-height: 9px;
    letter-spacing: 0px;
    /* text-align: right; */
    padding: 20px;
   


}

/*  navbar items list for small devices */
#navbar-items-list-for-small-devices{
  
    list-style: none;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 30px 0px;

    display: none;

}
#navbar-items-list-for-small-devices:target{
    display: flex;
}
#navbar-items-list-for-small-devices .navbar-item{
    width: 100%;
    padding-block:15px ;
}
#navbar-items-list-for-small-devices .navbar-item-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    height: 100%;
    padding:5px;
}




/* hamburg style */
#hamburg,#hamburg-close{
    width: 30px;
    height: 30px;
    position: relative;
    top: -9px;
    left: 10px;
    display: none;
}
.hidden{
    width: 100%;
    display: none;
    color: rgb(100, 95, 95);
    padding-top: 3px;
}
/* #hamburg a{
    color: rgb(100, 95, 95);
    padding-top: 3px;
} */
#hamburg a i,#hamburg-close a i{
    border: 2px solid rgb(118, 118, 121);
    background-color: rgba(231, 215, 215, 0.473);
    border-radius: 3px;
    padding:10px 10px 5px;
    font-size: 1.3rem;
    box-shadow: 0 0 2px 1px rgb(27, 27, 27);
}
#hamburg a i:hover,#hamburg-close a i:hover{
 box-shadow: 0 0 3px 2px rgb(27, 27, 27);
    font-size: 1.3rem;
}



/* header of page intro text */
#intro-texts{
    width: 40%;
    height: 70%;

    min-width: 300px;

}
#intro-texts p:first-of-type{
    padding:100px 20px 0;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */


    /* Dark Color */
    color: #21243D;


}
#intro-texts p:last-of-type{
    padding:30px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    /* Dark Color */
    
    color: #21243D;    
}

/* download btn style*/
#download-resume-container{
    width: 100%;
    /* height:10%; */
    padding: 0px 0;
}
#download-resume-container a{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
    text-decoration: none;;
    background: #FF6464;
    border-radius: 2px;
    padding: 10px;
    position:relative;
    top: 5px;
    left:30px;

}


/* image profile image styling */
#profile-image{
    width: 250px;
    height: 250px;
    /* max-width: 243px;
    max-height: 243px;; */

    background-image: url('../assets/image/20230623-MIV00885.jpg');
    background-size: cover;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 100%;
    box-shadow:  7px -5px 6px 10px #ddc4c4;


  
}
#profile-image:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}


/* main content */
main{
    width: 100%;
    padding: 10px 0;
}


/* recent post container */
#recent-posts{
    background-color: #EDF7FA;
    padding: 10px 160px;
    /* margin-bottom: 20px; */
    padding-bottom: 50px;
    
}
#recent-posts-heading{
    /* padding: 10px; */
    font-family: Heebo;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;

}
#view-all-btn{
    float: right;
    position: relative;
    top: 20px;
    left: -10px;
    
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* color: #00A8CC; */
    color: #21243D;

    cursor: pointer;
}
#view-all-btn:hover{
    margin-top: -10px;
    text-decoration-line:none ;
    background-color: rgb(13, 167, 51);
    padding: 10px 10px ;
    border-radius: 10px;
    color: white;

    box-shadow: inset 0 0 0px 2px rgb(255, 254, 254);
}

#view-less-btn{
    height: fit-content;
    width: fit-content;
    align-self: center;
    
    position: relative;
    left: -10%;

    padding: 20px;
    font-size: 1.2rem;
 
    text-decoration-line:none ;
    background-color: rgb(13, 167, 51);
    border-radius: 10px;
    color: white;

    box-shadow: 0 0 0px 2px rgb(255, 254, 254);

}
#view-less-btn:hover{
    border-radius: 20px;
    padding: 20px;
    font-size: 1.3rem;
   
}


/* post container */
#posts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: #21243D;
}
.post-items{
    margin-bottom: 30px;
    padding: 20px;
    width: 40%;
   

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(176, 217, 245, 0.973);
    border-radius:10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-heading{
    font-family: Heebo;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;

}
.post-time-and-title{
     font-family: Heebo;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

    color: gray;

}
.separator{ 
    font-size: 2rem;
    color: gray;
}
.post-about{ 
    overflow-y: auto;
    padding: 10px 0;
    text-align: justify;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}


/* featured work */
#works{
    /* background-color: #EDF7FA; */
    padding: 10px 160px;
    padding-bottom: 50px;
}
#work-heading{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    /* identical to box height, or 273% */
    /* Dark Color */

    color: #21243D;
    padding-bottom: 20px;
}
.project-item{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid gray;

}
.project-image{
    width: 246px;
    height: 180px;
    border-radius: 6px;
}
#project1{background: url("../assets/image/music-player.png");background-size: cover;}
#project2{background: url("../assets/image/superhero-hunt.png");background-size: cover;}
#project3{background: url("../assets/image/many-mini-projects.png");background-size: cover;}
#project4{background: url("../assets/image/react-movie-app.png");background-size: cover;}
#project5{background: url("../assets/image/react-contact-app.jpg");background-size: cover;}
#project6{background: url("../assets/image/react-ecommerce-app.png");background-size: cover;}
#project7{background: url("../assets/image/react-movie-app.png");background-size: cover;}
.project-image-wrapper-container{
    width:inherit;
    height: inherit;
    border-radius: inherit;

    background-color: #e5e5e534;
}
.project-image-wrapper-container:hover{
    background-color:transparent;
  transition: all 1s ease-in-out;
  /* animation: removeBGColor  3s  ease-in-out 0s 1 ; */
}
@keyframes removeBGColor {
    /* tell about changes of element each frame in animation */
    0%{
        width:100%;
    }
    25%{width:75%;}
    50%{width:50%;}
    75%{width:25%;}
    100%{width:0%;}
    
}

/* featured work detail container styles  */
.project-details{
    padding: 0 30px;
    /* 20px */
}
.project-heading{
    font-family: Heebo;
    font-size: 30px;
    font-weight: 700;
    /* line-height: 44px; */
    letter-spacing: 0px;
    text-align: left;

    color: #21243D;
}
.project-skills-container{
    
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

/* Light */

color: #8695A4;
}
.skills-required{
    font-family: cursive;
    font-size: 10px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: left;
    text-shadow: 0 0 7px black;

   margin-top: 10px;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
    padding-left: 0;
    /* margin-right: 10px; */
}
/* span:nth-child(1).skills-required{background-color: #FF6464;box-shadow: inset 0 0 2px 2px rgb(190, 81, 81);}
span:nth-child(2).skills-required{background-color: #64acff;box-shadow: inset 0 0 2px 2px #497cb8;}
span:nth-child(3).skills-required{background-color: #ffdd64;box-shadow: inset 0 0 2px 2px #b59d47;}
span:nth-child(4).skills-required{ background: #0a59f8;box-shadow: inset 0 0 2px 2px  #073289} */

.skills-icon{
    width:40px;
}
.project-about{
    /* text-align: justify; */

font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* Dark Color */

color: #21243D;

}


/* footer */
footer{
    text-align: center;
    padding: 20px;
}
#footer-navigation{
    width:300px;
    margin:0 auto;
    padding: 20px 0 7px;
}
#footer-navigation-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.footer-navigation-item{
    padding: 10px;
}
.footer-navigation-item-link{
    text-decoration: none;
    font-size: 2rem;
}
.footer-navigation-item-link i:hover{
   transform: scale(1.5);
   border-bottom: 1px solid ;
   transition: transform 2s  0s ease-in-out,border-bottom 3s ease-in-out;

}

#copyright{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    /* Dark */

    color: #21243D;
}

.pink{color: #d40c81;}
.blue{color: #0d4af1;}
.black{color:black}
.phone{color:#055364}



/* media queries */
@media screen and (max-width:1200px) {
    
    #header{
        height: auto;
    }
    section{ 
        padding: 10px 30px;
    }
    #recent-posts-heading{
        width: 90%;
        margin:auto;
    
    } 

}
@media screen and (max-width:900px) {
    
    #header{
            height: auto;
    }
    
    #recent-posts-heading{
        width: 80%;
        margin:auto;
        
    }
    .post-items{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    #view-less-btn{
        padding: 10px;
        font-size: 1.1rem;
        position: relative;
        left: 4%;

    }
    #view-less-btn:hover{
        border-radius: 10px;
        padding: 12px;


    }


    #recent-posts,#works{
        padding: 10px 30px;
    }
         
}  
 @media screen and (max-width:700px) {
    
    #header{
        height: auto;
        padding-top:100px;
        flex-wrap: wrap-reverse;
        align-items: center;
        
    }
    #intro-texts{
        width: 90%;
        height: 70%;
    
        min-width: 300px;
    
    }
    #profile-image{
        margin-bottom:20px ;
    }


    .hidden,#hamburg{
        display: block;
    }

    #navbar-items-list{
        display: none;
    }

    #navbar-items-list:target + #navbar-items-list-for-small-devices{
        display: none;
    }

    /* #navbar-items-list:target{
        list-style: none;
        width: 100%;
        text-align: center;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        padding: 30px 0px;

        

    } */
    #navbar-items-list li{
        padding: 10px;
    }


    /* recent posts */
    #recent-posts{
        background-color: #EDF7FA;
        padding: 10px 30px;
        
        
    }
    #recent-posts-heading{
        width: 100%;
        margin:auto;
    
    }

    .post-items{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;

    }
    #view-less-btn{
        padding: 10px;
        font-size: 1rem;
        position: relative;
        left: 34%;

    }
    #view-less-btn:hover{
        border-radius: 10px;
        padding: 10px;
        font-size: 1.1rem;

    }

    /* featured work */
    #works{
    padding: 10px 30px;
    /* padding-bottom: 50px; */
    }
    #feature-work-heading{
        text-align: center;
    }
    .project-item{
        flex-direction: column;
    
    }
    .project-image{
        width: 100%;
        height: 280px;
    }
    .project-details{
        padding: 20px 0;
        
    }

    /* footer */
    footer{
        padding:0  20px 30px;
    }
    .footer-navigation-item-link{
        font-size: 1.3rem;
    }
    
}
    
