*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* border: solid ; */
   
}
/* body style */
body{
    background:  #E5E5E5;
}

/********************** header section ********************* */
#header {
    width:100%;
    height:97vh;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/**********************  navbar style ********************* */
.navbar{
    width: 100%;
    height:auto;

    position: absolute;
    top: 0;
    right: 0;

    padding: 10px 0;
    background-image: linear-gradient(to right,#ddcfcf,#E5E5E5);

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-radius: 10px;
    
}
#navbar-items-list{
    list-style: none;
    width: 50%;
    height:100%;

    display: flex;
    justify-content: space-evenly;

    float: left;
}
.navbar-item{
    padding:10px ;
}
.navbar-item:hover{
    transition: border .3s ease-in-out;
    border-bottom: 3px solid rgb(235, 139, 139);
    background-color: white;
    border-radius: 10px;
}
.navbar-item-link{
    color: #21243D;
    text-decoration: none;

    font-family: Heebo;
    font-size: 20px;
    font-weight: 500;
    line-height: 9px;
    padding: 20px;
   


}

/**********************   navbar items list for small devices ********************* */
#navbar-items-list-for-small-devices{
  
    list-style: none;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 30px 0px;

    display: none;

}
#navbar-items-list-for-small-devices:target{
    display: flex;
}
#navbar-items-list-for-small-devices .navbar-item{
    width: 100%;
    padding-block:15px ;
}
#navbar-items-list-for-small-devices .navbar-item-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    height: 100%;
    padding:5px;
}




/* hamburg style */
#hamburg,#hamburg-close{
    width: 30px;
    height: 30px;
    position: relative;
    top: -9px;
    left: 10px;
    display: none;
}
.hidden{
    width: 100%;
    display: none;
    color: rgb(100, 95, 95);
    padding-top: 3px;
}

#hamburg a i,#hamburg-close a i{
    border: 2px solid rgb(118, 118, 121);
    background-color: rgba(231, 215, 215, 0.473);
    border-radius: 3px;
    padding:10px 10px 5px;
    font-size: 1.3rem;
    box-shadow: 0 0 2px 1px rgb(27, 27, 27);
}
#hamburg a i:hover,#hamburg-close a i:hover{
 box-shadow: 0 0 3px 2px rgb(27, 27, 27);
    font-size: 1.3rem;
}



/* header of page intro text */
#intro-texts{
    width: 40%;
    height: 70%;

    min-width: 300px;

}
#intro-texts p:first-of-type{
    padding:100px 20px 0;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */


    /* Dark Color */
    color: #21243D;


}
#intro-texts p:last-of-type{
    padding:30px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    /* Dark Color */
    
    color: #21243D;    
}

/* download btn style*/
#download-resume-container{
    width: 100%;
    /* height:10%; */
    padding: 0px 0;
}
#download-resume-container a{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
    text-decoration: none;;
    background: #FF6464;
    box-shadow: 0 5px 20px #f55858;
    transition: box-shadow .3s ease-in-out;
    border-radius: 2px;
    padding: 10px;

    position:relative;
    top: 5px;
    left:30px;
    border-radius: 5px;

}
#download-resume-container a:hover{
    box-shadow:inset 0 0 15px 10px  #f75656;
}


/* image profile image styling */
#profile-image{
    width: 250px;
    height: 250px;
    background-image: url('https://lh3.googleusercontent.com/a/AAcHTtfml1OnUtE75DzPmMLX3PSIP1lVtbeTZAppavDKBZUvViNHkvWLnzoam5i8INGk2JFOQhG6knHkQaPVLi-vMoRZ8Rw=s288-c-no');
    background-size: cover;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 100%;
    box-shadow:  7px -5px 6px 10px #ddc4c4;


  
}
#profile-image:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}


/**********************  main content ********************* */
main{
    width: 100%;
    padding: 10px 0;
}

.section-heading {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    /* identical to box height, or 273% */
    /* Dark Color */

    color: #21243D;
    padding-bottom: 20px 0 0;
}


/**********************  skills section ********************* */
#skills{
   width: 100%;
   background-color: #36363617;
   padding-bottom: 10px;
}
#skills article{
    width: 75%;
    margin: auto;
}
#skills-badges-container{
    width: 90%;
    margin: 0 auto;
   
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}
.skills-badges{
    width: 100px;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 10px;
}
/* .skills-badges:hover {
    transform: scale(1.1);
    transition: transform .2s ease-in;
    box-shadow: 0 0 5px 2px black;
} */

/**********************  featured work ********************* */
#works{
    width: 75%;
    margin: auto;
    margin-block: 20px;
}
#work-heading{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    /* identical to box height, or 273% */
    /* Dark Color */

    color: #21243D;
    padding-bottom: 20px 0 0;
}
.project-item{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid gray;

}
.project-image{
    width: 246px;
    height: 180px;
    border-radius: 6px;
}
#project1{background: url("../assets/image/music-player.png");background-size: cover;}
#project2{background: url("../assets/image/superhero-hunt.png");background-size: cover;}
#project3{background: url("../assets/image/many-mini-projects.png");background-size: cover;}
#project4{background: url("../assets/image/react-movie-app.png");background-size: cover;}
#project5{background: url("../assets/image/react-contact-app.jpg");background-size: cover;}
#project6{background: url("../assets/image/react-ecommerce-app.png");background-size: cover;}
#project7{background: url("../assets/image/react-movie-app.png");background-size: cover;}
.project-image-wrapper-container{
    width:inherit;
    height: inherit;
    border-radius: inherit;

    background-color: #e5e5e534;
}
.project-image-wrapper-container:hover{
    background-color:transparent;
  transition: all 1s ease-in-out;
  /* animation: removeBGColor  3s  ease-in-out 0s 1 ; */
}
@keyframes removeBGColor {
    /* tell about changes of element each frame in animation */
    0%{
        width:100%;
    }
    25%{width:75%;}
    50%{width:50%;}
    75%{width:25%;}
    100%{width:0%;}
    
}

/* featured work detail container styles  */
.project-details{
    padding: 0 30px;
}
.project-heading{
    font-family: Heebo;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;

    color: #21243D;
}
.project-skills-container{
    
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

/* Light */

color: #8695A4;
}
.skills-required{
    font-family: cursive;
    font-size: 10px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: left;
    text-shadow: 0 0 7px black;

   margin-top: 10px;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
    padding-left: 0;
   
}

.skills-icon{
    width:40px;
}
.project-about{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* Dark Color */

    color: #21243D;

}


/**********************  footer ********************* */
footer{
    text-align: center;
    padding: 20px;
}
#footer-navigation{
    width:300px;
    margin:20px auto 0;
    padding: 20px 0 7px;
}
#footer-navigation-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.footer-navigation-item{
    padding: 10px;
}
.footer-navigation-item-link{
    text-decoration: none;
    font-size: 2rem;
}
.footer-navigation-item-link i:hover{
   transform: scale(1.3);
   padding:2px;
   border-bottom: 1px solid ;
   transition: all .2s  0s ease-in;

}

#copyright{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    /* Dark */

    color: #21243D;
}

.pink{color: #d40c81;}
.blue{color: #0d4af1;}
.black{color:black}
.phone{color:#055364}


/* Contact form style */

.container {
    border-radius: 5px;
    margin:auto;
    background-color:transparent;
    width: 75%;
    height: 500px;
    position: relative;
    line-height: 1.5;
    box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.185);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding-block: 0px 45px;
    background-image: url("https://preview.colorlib.com/theme/bootstrap/contact-form-16/images/undraw-contact.svg");
}
.container  h2 {
    font-size: 2.4rem;
    color: #21243D;
    text-align:center;
    margin-bottom: 20px;

    /* border: solid; */

}

.container-inputs {
    max-width:400px;
    width: 100%;
    height: fit-content;
}

.container-inputs p {
    font-size: 14px;
    color: #3B4169;
    margin: 10px 0;
}

.container-inputs input,
.container-inputs button ,.container-inputs textarea{
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
}

.container-inputs input,.container-inputs textarea {
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #000000;
    resize: none;
    outline: none;
}
.container-inputs input:focus,.container-inputs textarea:focus {
    border: 3px solid #a5d4faec;
}

.container-inputs button {
    background-image: linear-gradient(to right, #89CAFF, #6589FF);
    display: block;
    color:#fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow .3s ease-in-out;
}

.container-inputs button:hover {
    box-shadow: none;
}

.container-inputs span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #BABDCB;
    font-size: 12px;
}

/* scroll top / bottom styles */
#navigate-to-top-bottom{
    position: fixed; 
    top:30vh;
}
.scroll-btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #ff64648a;
    margin-bottom: 10px;

}
.scroll-btn a{
    width: 100%;
    height: 100%;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 0 0 1px black;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/**********************  media queries ********************* */
@media screen and (max-width:1200px) {
    
    #header{
        height: auto;
    }
    section{ 
        padding: 10px 30px;
    }

}
@media screen and (max-width:900px) {
    
    #header{
            height: auto;
    }
    #skills article,#works{
        padding: 10px 30px;
        width: 100%;
    }
    #contact-me img{
        display: none;
    }
  
    #contact-me{
        width: 100%;
        /* padding-inline//:30px */
    }

         
}  
 @media screen and (max-width:700px) {
    
    #header{
        height: auto;
        padding-top:100px;
        flex-wrap: wrap-reverse;
        align-items: center;
        
    }
    #intro-texts{
        width: 90%;
        height: 70%;
    
        min-width: 300px;
    
    }
    #profile-image{
        margin-bottom:20px ;
    }


    .hidden,#hamburg{
        display: block;
    }

    #navbar-items-list{
        display: none;
    }

    #navbar-items-list:target + #navbar-items-list-for-small-devices{
        display: none;
    }
    #navbar-items-list li{
        padding: 10px;
    }


  
    /* featured work */
    #works{
    padding: 10px 30px;
    /* padding-bottom: 50px; */
    }
    #feature-work-heading{
        text-align: center;
    }
    .project-item{
        flex-direction: column;
    
    }
    .project-image{
        width: 100%;
        height: 280px;
    }
    .project-details{
        padding: 20px 0;
        
    }

    /* footer */
    footer{
        padding:0  20px 30px;
    }
    .footer-navigation-item-link{
        font-size: 1.3rem;
    }
    
    #contact-me  form {
        width: 100%;
        padding: 0;
        max-width: 350px;
    }
}
    
